01_select.sql
02_tables.sql
03_select_from.sql
04_select_from_where.sql
05_select_col.sql
06_order_by.sql
07_case_when.sql
08_count.sql
09_count_distinct.sql
10_sum.sql
11_group_by.sql
12_join.sql
13_cte.sql
14.sql
15.sql
16.sql
17_create.sql
clientes.csv
database.db
produtos.csv
transacao_produto.csv
transacoes.csv
exercicios/01.sql
exercicios/02.sql
exercicios/03.sql
exercicios/04.sql
exercicios/05.sql
exercicios/groupby/01.sql
exercicios/groupby/02.sql
exercicios/groupby/03.sql
exercicios/groupby/04.sql
exercicios/groupby/05.sql
exercicios/groupby/06.sql
exercicios/groupby/07.sql
exercicios/groupby/08.sql
exercicios/join/01.sql
exercicios/join/02.sql
exercicios/join/03.sql
exercicios/join/04.sql
